* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Whitney', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.header-container {
    background-color: #FE6900;
    position: fixed;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    top: 0;
    z-index: 1000;

}

.header-container-data {
    /* background-color: red; */
    width: 60%;
    height: 40px;
    position: absolute;
    top: 25%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-container-data img {
    max-height: 100%;
    transform: translate(-50%);
}

.header-container-data-sex ul {
    display: flex;
    flex-direction: row;
    gap: 10px;
    list-style-type: none;
}

a {
    color: white;
    text-decoration: none;
}


.header-container-data-cart {
    color: white;
}

/* MAIN */

.main-cont {
    width: 60%;
    max-width: 80%;
    margin: 0 auto;
}

.main-cont .row {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20%;
}

.main-cont .col {
    width: calc((100% / 3) - (20px / 3));
}

.col img {
    width: 100%;
    height: auto;
    display: block;
}

.col ul {
    list-style-type: none;
    padding-bottom: 60px;
}

.col li {
    font-size: 15px;
}

.bold {
    font-size: 20px;
    font-weight: bold;
}

.price {
    color: red;
    font-weight: bold;
}

.price span {
    color: black;
    font-weight: 100;
    text-decoration: line-through;
}


.col {
    position: relative;
}

.discount-container {
    position: absolute;
    top: calc(80% - 60px);
    display: flex;
    gap: 5px;
    z-index: 2;
}

.discount {
    padding: 5px 8px;
    color: white;
    font-size: 12px;
    font-weight: bold;
}

.discount-red {
    background-color: #FD0202;
}

.discount-green {
    background-color: #007F01;
}


.col .imgb {
    width: 100%;
    height: auto;
    display: none;
}

.col:hover .imgb {
    display: block;
}

.col:hover img {
    cursor: pointer;
    display: none;
}


.preferiti-container {
    position: absolute;
    top: 10px;
    right: 0;
    display: flex;
    gap: 5px;
    z-index: 2;
    background-color: white;
}

.preferiti {
    width: 50px;
    height: 50px;
    font-size: 40px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.preferiti:hover {
    color: red;
}


/* footer */

.footer-container {
    background-color: #1A1A1A;
    width: 100%;
    height: 100px;
    position: relative;
    display: flex;
    justify-content: center;
}

.footer-container-data {
    /* background-color: red; */
    width: 60%;
    position: absolute;
    top: 25%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    color: white;
}

.footer-container-data span {
    font-weight: bold;
    font-size: 18px;
}

.footer-container-data ul {
    list-style-type: none;
    flex-direction: row;
    display: flex;
    gap: 20px;
    padding-top: 10px;
    font-size: 12px;
}

.footer-container-data ul.social {
    font-size: 18px;
}

.footer-container-data ul.social li {
    cursor: pointer;
    transition: transform 0.2s ease;
}

.footer-container-data ul.social li:hover {
    transform: scale(1.1);
}