* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Whitney', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.header-container {
    background-color: #FE6900;
    position: relative;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
}

.header-container-data {
    background-color: red;
    width: 80%;
    height: 40px;
    position: absolute;
    top: 25%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-container-data img {
    max-height: 100%;
    transform: translate(-50%);
}

.header-container-data-sex ul {
    display: flex;
    flex-direction: row;
    gap: 10px;
    list-style-type: none;
}